
 {% extends 'base.html' %}


 {% block content %}

<section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> HOME INDEX </h3>
        <center>
<center> <a href="/ " class="btn btn-primary" > Voltar </a>
<br> <br> 
 <div id="result"> </div>
 </center>
 
<form name="form" id="form" action="{% if db %}/update/{{db.id}}/{%else%}/create/{%endif%}"
method="post" enctype="multipart/form-data">
{% csrf_token %}

    {{ form.as_p }}

        <br>
        <input type="submit" class="btn btn-success" value="Salvar">
</form>
</div>

{% load static %}
{%endblock%}

