
{% extends 'base.html' %}
  

 
{% block content %}


   
   <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="col-lg-12 mt">
          <div class="row content-panel">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="invoice-body">
                <div class="pull-left">
                
                  <h1>Web Monkey</h1>
                  <address>
                <strong>Cuiaba - MT</strong><br>
                795 Asome Ave, Suite 850<br>
                CNPJ: 33.261.621.0001-88 <br>
                <abbr title="Telefone">Telefone:</abbr> (65) 99800 - 7226
              </address>
                </div>
                <!-- /pull-left -->
                <div class="pull-right">
                  <h2>Orcamento</h2>
                </div>
                <!-- /pull-right -->
                <div class="clearfix"></div>
                <br>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-9">
                    <h4>Nome do Cliente</h4>
                    <address>
                  <strong>Dados do Cliente.</strong><br>
                  234 Great Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> TELEFONE DO CONTATO (123) 456-7890
                </address>
                  </div>
                  <!-- /col-md-9 -->
                  <div class="col-md-3">
                    <br>
                    <div>
                      <div class="pull-left"> ORCAMENTO Nº : </div>
                      <div class="pull-right"> 000283 </div>
                      <div class="clearfix"></div>
                    </div>
                    <div>
                      <!-- /col-md-3 -->
                      <div class="pull-left"> INVOICE DATE : </div>
                      <div class="pull-right"> 15/03/14 </div>
                      <div class="clearfix"></div>
                    </div>
                    <!-- /row -->
                    <br>
                    <div class="well well-small green">
                      <div class="pull-left"> Total Due : </div>
                      <div class="pull-right"> 8,000 USD </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  
                  <!-- /invoice-body -->
                </div>
                <!-- /col-lg-10 -->
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width:60px" class="text-center">QTD.</th>
                      <th class="text-left">DESCRICAO</th>
                      <th style="width:140px" class="text-right">VALOR UNITARIO</th>
                      <th style="width:90px" class="text-right">TOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                              {% for dbs in db %}
                    <tr>                     
                      <td class="text-center">{{dbs.quantidade}}</td>
                      <td>{{dbs.descricao}}</td>
                      <td class="text-right">R${{dbs.precoUnitario}}</td>
                      <td class="text-right">R${{dbs.total}}</td>
                    </tr>
                              {% endfor %}
                   
                    <tr>
                      <td colspan="2" rowspan="4">
                        <h4>Terms and Conditions</h4>
                        <p>Thank you for your business. We do expect payment within 21 days, so please process this invoice within that time. There will be a 1.5% interest charge per month on late invoices.</p>
                        <td class="text-right"><strong>Subtotal</strong></td>
                        <td class="text-right">R${{dbs.subTotal}}</td>
                    </tr>
                    <tr>
                      <td class="text-right no-border"><strong>Frete</strong></td>
                      <td class="text-right">R$ {{dbs.frete}}</td>
                    </tr>
                    <tr>
                      <td class="text-right no-border"><strong>Taxas</strong></td>
                      <td class="text-right">R${{dbs.taxas}}</td>
                    </tr>
                    <tr>
                      <td class="text-right no-border">
                        <div class="well well-small green"><strong>Total</strong></div>
                      </td>
                      <td class="text-right"><strong>$1029.00</strong></td>
                      
                    </tr>
                  </tbody>
                </table>
                <br>
                <br>
              </div>
                
              <!--/col-lg-12 mt -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->

    {% load static %}
 {% endblock %}